<div class="container" id="i18_link">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="link.link">Link</span></h1>
        </div>
    </div>
    <div class="row">
    {% for link in site.data.index.links %}
        {% assign loopindex = forloop.index | modulo: 3 %}
        {% if forloop.last %}
            {% if forloop.last == forloop.first %}
        <div class="col-sm-4 col-sm-offset-4 wow zoomIn">
                {% else %}
        <div class="col-sm-4 wow {% if loopindex != 0 %} col-sm-offset-4 fadeInRight {% else %} zoomIn {% endif %}">
            {% endif %}
        {% else %}
        <div class="col-sm-4 wow {% if loopindex == 1 %} fadeInLeft {% else if loopindex == 2 %} zoomIn {% else %} fadeInRight {% endif %}">
        {% endif %}
        <div class="team-member">
            <h4><span class="navy">{{ link.last_name }}</span> {{ link.first_name }}</h4>
            <p>{{ link.desc }}</p>
            <ul class="list-inline social-icon">
                <li><a href="{{ link.website }}" target="blank"><i class="fa fa-link"></i></a>
                </li>
                <li><a href="mailto:{{ link.email }}"><i class="fa fa-envelope-o"></i></a>
                </li>
            </ul>
        </div>
        </div>
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p id="jalpc_site_p1v">
			<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261650129'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1261650129%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
			<strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
        </div>
    </div>
</div>
